extends layout.pug

block main-header 
	.container-fluid.border.center-text 
		h1 Roll 4 Initiative

block main-navbar 
	.container-fluid.border 
		a(href="#") Home
		a(href="#") Other
		a(href="#") Another 

block main-content-wrapper
	.container-fluid.border main content
		p paragraph 1
		p paragraph 2

block main-footer 
	.container-fluid.border 
		a some footer context here 
